.table{
    width: 80vw;
}

#root > div > div > div > div:nth-child(1){
    padding-left: 20px;
}

.title{
    padding-left: 23px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #bbb;
    font-weight: 900;
}