div.box{
    border: 1px solid black;
    margin: 10px;
    min-height: 550px;
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;
}
table{
    width: 100%;
}

table{font-family: verdana,arial,sans-serif;font-size:11px;color:#333333;border-width: 1px;border-color: #666666;border-collapse: collapse;}

table th {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #dedede;}

table td {border-width: 1px;padding: 8px;border-style: solid;border-color: #666666;background-color: #ffffff;}
